.button {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 8px;
  min-height: 42px;
  width: 100%;

  background: var(--background);
  color: var(--color);
  border: var(--border);
  border-radius: 80px;
  padding: 8px 16px;
  transition: all 250ms ease-in-out;
}

.button:hover {
  background: var(--color);
  color: var(--background);
  border: var(--border);
}

.button:disabled {
  cursor: not-allowed;
  background-color: var(--gray50);
  border: 1px solid var(--gray50);
  color: var(--black);
}
