.library {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
  padding-block: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.header > label {
  max-width: 260px;
  gap: 0;
}

.header > button {
  max-width: fit-content;
}

.header > button > span {
  display: flex;
  justify-content: center;
  justify-items: center;
}
