.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.input {
  border: 1px solid var(--gray500);
  border-radius: 4px;
  padding: 8px;
  font-size: 1rem;
  transition: border-color 0.2s ease-in-out;
}

.error {
  border: 2px solid var(--red500);
}

.input:focus {
  outline: 2px solid var(--primary);
  border-color: transparent;
}
